language: node_js
node_js:
 - "12"
install:
 - 'npm install'
jdk:
 - oraclejdk8
addons:
 sonarcloud: true
script:
 - sonar-scanner -Dsonar.login=$SONAR_TOKEN -Dsonar.organization=kai-al -Dsonar.projectKey=Kai-Al_practicadelab2 -Dsonar.sources='./app' -X
